<div>
  <h4>Estrellas</h4>
  <form>
    <div class="star-filter-viewall">
      <input type="checkbox" ng-checked="$ctrl.viewAll" ng-change="$ctrl.changeViewAllAction()" ng-model="$ctrl.viewAll" ng-disabled="$ctrl.viewAll">
      <span>Todas las estrellas</span>
    </div>
    <div class="star-filter-block">
      <input  type="checkbox" 
              ng-checked="$ctrl.viewStarsArray[4]" 
              ng-change="$ctrl.changeOptionAction()" 
              ng-model="$ctrl.viewStarsArray[4]">
      <ng-include src="$ctrl.starIconRoute"></ng-include> 
      <ng-include src="$ctrl.starIconRoute"></ng-include> 
      <ng-include src="$ctrl.starIconRoute"></ng-include> 
      <ng-include src="$ctrl.starIconRoute"></ng-include> 
      <ng-include src="$ctrl.starIconRoute"></ng-include> 
    </div>
    <div class="star-filter-block">
      <input  type="checkbox" 
              ng-checked="$ctrl.viewStarsArray[3]" 
              ng-change="$ctrl.changeOptionAction()" 
              ng-model="$ctrl.viewStarsArray[3]">
      <ng-include src="$ctrl.starIconRoute"></ng-include> 
      <ng-include src="$ctrl.starIconRoute"></ng-include> 
      <ng-include src="$ctrl.starIconRoute"></ng-include> 
      <ng-include src="$ctrl.starIconRoute"></ng-include> 
    </div>
    <div class="star-filter-block">
      <input  type="checkbox" 
              ng-checked="$ctrl.viewStarsArray[2]" 
              ng-change="$ctrl.changeOptionAction()" 
              ng-model="$ctrl.viewStarsArray[2]">
      <ng-include src="$ctrl.starIconRoute"></ng-include> 
      <ng-include src="$ctrl.starIconRoute"></ng-include> 
      <ng-include src="$ctrl.starIconRoute"></ng-include>
    </div>
    <div class="star-filter-block">
      <input  type="checkbox" 
              ng-checked="$ctrl.viewStarsArray[1]" 
              ng-change="$ctrl.changeOptionAction()" 
              ng-model="$ctrl.viewStarsArray[1]">
      <ng-include src="$ctrl.starIconRoute"></ng-include> 
      <ng-include src="$ctrl.starIconRoute"></ng-include> 
    </div>
    <div class="star-filter-block">
      <input  type="checkbox" 
              ng-checked="$ctrl.viewStarsArray[0]" 
              ng-change="$ctrl.changeOptionAction()" 
              ng-model="$ctrl.viewStarsArray[0]">
      <ng-include src="$ctrl.starIconRoute"></ng-include> 
    </div>
  </form>
</div>

